@white: #ffffff;
@black: #000;
@orange: #f7931e;
@blueLight: #6be;
@blueLighter: #7cf;
@greyDark: #333;
@grey: #999;
@greyLight: #ccc;

@fontSizeSmall: 10px;
@fontSizeDefault: 12px;
@fontSizeLarge: 15px;
@fontSizeExtraLarge: 24px;

@cornerRadius: 12px;
@spacingNormal: 10px;

@mainWidth: 900px;
@columnWidth: 220px;

.border-radius(@radius) {
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	border-radius: @radius;
}

* {
	box-sizing: border-box;
}

body {
	background-color: @orange;
	font-family: Arial, Sans-serif;
	font-size: @fontSizeDefault;
	line-height: 1.5;
	color: @greyDark;
	margin: 0;
}

h3 {
	font-size: @fontSizeLarge;
}

.icon_blank, .icon_download, .icon_link, .icon_skills, .icon_individual, .icon_team {
	margin-bottom: 10px;
	min-height: 20px;
	padding-left: 24px;
	padding-top: 2px;
	background-repeat: no-repeat;
	line-height: 1.5;
}

.icon_download {
	background-image: url(../images/icons/download.png);
}

.icon_link {
	background-image: url(../images/icons/link.png);
}

.icon_skills {
	background-image: url(../images/icons/skills.png);
}

.icon_individual {
	background-image: url(../images/icons/individual.png);
}

.icon_team {
	background-image: url(../images/icons/team.png);
}

#loading {
	display: none;
	background-color: @white;
	border: 5px solid @orange;
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: -135px;
	padding: 20px;
	font-size: @fontSizeLarge;
	width: 250px;
	.border-radius(@cornerRadius);
}

#main, #thumbs {
	margin-left: auto;
	margin-right: auto;
	width: @mainWidth;
}

#main-wrapper {
	width: 100%;
	left: 0;
	margin-bottom: @spacingNormal;

	#main {
		background-color: @white;
		.border-radius(@cornerRadius);

		#header {
			font-size: @fontSizeExtraLarge;
			margin-bottom: @spacingNormal * 2;

			#name {
				padding: @spacingNormal;
				display: inline-block;
				width: @columnWidth;
			}

			#contact {
				font-size: @fontSizeDefault;
			}
		}

		h3 {
			margin: 0;

			p {
				margin: 5px 15px 15px 0;
			}
		}

		a {
			font-weight: bold;
			text-decoration: none;

			&:link, &:visited {
				color: @blueLight;
			}

			&:hover, &:active {
				color: @blueLighter;
			}
		}

		#section_detail {
			position: relative;
			top: 10px;
			left: 10px;
			width: 200px;
			height: 370px;

			&[data-section-index="0"] {
				text-align: center;

				.icon_download {
					display: inline-block;
				}
			}
		}

		#juicy, #not-juicy {
			padding-bottom: @spacingNormal;
		}

		#juicy {
			float: left;
			text-align: center;
			width: @columnWidth;
			height: 300px;

			> img {
				margin-bottom: @spacingNormal * 2;
			}
			> div {
				display: inline-block;
			}
		}

		#not-juicy {
			float: left;

			.column {
				float: left;
				width: @columnWidth;
				padding: @spacingNormal;
			}

			.column-footer {
				clear: both;
				> div {
					margin: 0 @spacingNormal;
				}
			}

			h3 {
				padding: 0 @spacingNormal;
			}
			p {
				margin: 0;
			}
		}
	}
}

#thumbs {
	@thumbSize: 100px;

	position: relative;
	margin-top: @spacingNormal;
	height: @thumbSize + @spacingNormal * 2;

	.thumb {	// individual thumbnail div
		position: absolute;
		top: @spacingNormal;
		background-repeat: no-repeat;
		width: @thumbSize;
		height: @thumbSize;
		cursor: pointer;
		border: 1px solid @grey;
		.border-radius(@thumbSize / 2);

		&:hover {
			z-index: 3;
			.thumb_veil {
				display: none;
			}
		}

		.thumb_veil {
			width: @thumbSize - 2;
			height: @thumbSize - 2;
			.border-radius(@thumbSize / 2);
			background-color: @white;
			opacity: 0.5;
		}

		.thumb_label {
			background-image: url(../images/label_bg.png);
			background-repeat: repeat;
			position: relative;
			top: 90px;
			left: 0px;
			width: 98px;
			font-size: @fontSizeSmall;
			font-weight: bold;
			color: @greyLight;
			padding: 2px 5px;
			display: none;

			a {
				color: @greyLight;
				text-decoration: none;
			}
		}
	}
}

#project_brief {
	display: none;
	width: 200px;
	background-color: @white;
	border: 1px @black solid;
	padding: 3px;
	position: absolute;
	z-index: 100;
	.border-radius(6px);
}

.gallery_menu {
	text-align: center;

	img {
		width: 50px;
		height: 50px;
		cursor: pointer;
		margin: 0 2px 10px 2px;
		.border-radius(27px);

		&.gallery_selected {
			border: 2px @greyLight solid;
			cursor: auto;
			margin: 0px 2px 8px 2px;
		}
	}
} 
