<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<title>Jennifer Schweers</title>

	<link rel="stylesheet" type="text/css" href="css/portfolio.css" />

	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

	<script type="text/javascript">
	<!--
		// Will be populated when document is ready
		var project_data = [];
		var templates = {};

		var moveTooltip = function(event) {
			$('#tooltip').css('left', event.pageX + 5);
			$('#tooltip').css('top', event.pageY + 8);
		};
		var showTooltip = function(title, description) {
			$("#tooltip").html("<div style='font-weight:bold;'>" + title + "</div>" + description);
			$("#tooltip").show();
		};
		var hideTooltip = function() {
			$("#tooltip").hide();
		};
		var showContent = function(slug) {
			if (!slug) {
				return;
			}

			slug = slug.replace(/^#/, '');
			var $thumb = $("a[href='#" + slug + "'] .thumb");
			$(".thumb.active").removeClass("active");
			$thumb.addClass("active");
			var project = project_data[$("#thumbs .thumb").index($thumb.get(0))];
			$("#content").html(templates.project(_.extend({
				image: "",
				skills: [],
				gallery: [],
			}, project, {
				links: _.map(project.links || [],  function(link) {
					var info = {};
					if (link.url.indexOf("http") === 0) {
						info.href = link.url;
						info.text = link.name;
					}
					else {
						info.href = "content/" + project.slug + "/" + link.url;
						var extension = link.url.match(/\w+\.(\w+)/)[1];
						if (_.contains(["pdf", "dv", "mov"], extension)) {
							info.text = "Download " + link.name;
						}
						else if (_.contains(["swf", "html"], extension)) {
							info.text = "Try " + link.name;
						}
					}
					return info;
				}),
			})));
			$("#content").show();
		};

		$(document).ready(function() {
			_.each($("script[type='text/template']"), function(template) {
				var $template = $(template);
				templates[$template.attr("name")] = _.template($template.html());
			});

			$.getJSON("content.json", function(data) {
				// Intro content
				_.each(data.paragraphs, function(p) {
					$(".columns").append(templates.paragraph({
						text: p,
					}));
				});

				// Project content
				_.each(data.projects.reverse(), function(project, index) {
					project_data.push(project);

					$("#thumbs").append(templates.thumb(_.extend({}, project, {
						right: index * 900 / (data.projects.length + 0.5),
					})));
				});

				// Tooltip events
				$('#thumbs, #juicy img').mousemove(function(event) {
					moveTooltip(event);
				});
				$(".thumb").hover(function() {
					var data = project_data[$("#thumbs .thumb").index(this)];
					showTooltip(data.name, data.brief);
				}, hideTooltip);
				$("#juicy img").hover(function() {
					showTooltip("Why \"orange\"?", "Tangerines, pumpkins, and apricots - what's not to love?");
				}, hideTooltip);

				$(window).on('hashchange', function(e) {
					showContent(location.hash);
				});
				showContent(location.hash);
			});
		});
	//-->
	</script>
	<script type="text/template" name="paragraph">
		<div class="column"><%= text %></div>
	</script>
	<script type="text/template" name="thumb">
		<a href='#<%= slug %>'>
			<div class='thumb' style='right: <%= right %>px; background-image: url(content/<%= slug %>/thumb.png)'>
				<div class='thumb_veil'></div>
				<div class='thumb_label'><%= name %></div>
			</div>
		</a>
	</script>
	<script type="text/template" name="project">
		<h3><%= name %></h3>
		<div class="column">
			<%= detail %>
			<!--ul>
				<% _.each(skills, function(skill) { %>
					<li><%= skill %></li>
				<% }) %>
			</ul-->
			<ul>
				<% _.each(links, function(link) { %>
					<li>
						<div class='icon_link'>
							<a href='<%= link.href %>' target='_blank'><%= link.text %></a>
						</div>
					</li>
				<% }) %>
			</ul>
		</div>
		<div class='gallery'>
		<% if (image) { %>
			<img src='content/<%= slug %>/<%= image %>' />
		<% } %>
		<% if (gallery) { %>
			<% _.each(gallery, function(piece) { %>
				<div class='captioned-image' style='width:<%= piece.width + 10 %>px;'>
					<div class='caption'><%= piece.detail %></div>
					<img src='content/<%= slug %>/<%= piece.image %>' style='width:<%= piece.width %>px;' />
				</div>
			<% }) %>
		<% } %>
		</div>
		</div>
	</script>
</head>

<body>
	<div id="main-wrapper">
		<div id="main">
			<div id="juicy">
				<img src='juicy.png'>
			</div>
			<div id="not-juicy">
				<div id="header">
					<span id="name">Jennifer Schweers</span>
					<span id="contact">
						orange.jenny {at} gmail
						/
						<a href='resume.php'>resume</a>
						/
						<a href='https://github.com/orangejenny'>github</a>
					</span>
				</div>
				<h3>Well, hello.</h3>
				<div class='columns'></div>
			</div>
		</div>
	</div>

	<div id="thumbs"></div>

	<div id="content"></div>

	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<div id="tooltip"></div>
</body>
</html>
